K3ToX9SqlCRL/Web References/X9WebService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BaseDirectory">
        <s:complexType />
      </s:element>
      <s:element name="BaseDirectoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BaseDirectoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="debug">
        <s:complexType />
      </s:element>
      <s:element name="debugResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="debugResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EntryHandle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_info" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EntryHandleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntryHandleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynchBillFromK3ToX9">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlParaText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynchBillFromK3ToX9Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SynchBillFromK3ToX9Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestSuccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_itemInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestSuccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestSuccessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestFailure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_itemInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestFailureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestFailureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BaseDirectorySoapIn">
    <wsdl:part name="parameters" element="tns:BaseDirectory" />
  </wsdl:message>
  <wsdl:message name="BaseDirectorySoapOut">
    <wsdl:part name="parameters" element="tns:BaseDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="debugSoapIn">
    <wsdl:part name="parameters" element="tns:debug" />
  </wsdl:message>
  <wsdl:message name="debugSoapOut">
    <wsdl:part name="parameters" element="tns:debugResponse" />
  </wsdl:message>
  <wsdl:message name="EntryHandleSoapIn">
    <wsdl:part name="parameters" element="tns:EntryHandle" />
  </wsdl:message>
  <wsdl:message name="EntryHandleSoapOut">
    <wsdl:part name="parameters" element="tns:EntryHandleResponse" />
  </wsdl:message>
  <wsdl:message name="SynchBillFromK3ToX9SoapIn">
    <wsdl:part name="parameters" element="tns:SynchBillFromK3ToX9" />
  </wsdl:message>
  <wsdl:message name="SynchBillFromK3ToX9SoapOut">
    <wsdl:part name="parameters" element="tns:SynchBillFromK3ToX9Response" />
  </wsdl:message>
  <wsdl:message name="TestSuccessSoapIn">
    <wsdl:part name="parameters" element="tns:TestSuccess" />
  </wsdl:message>
  <wsdl:message name="TestSuccessSoapOut">
    <wsdl:part name="parameters" element="tns:TestSuccessResponse" />
  </wsdl:message>
  <wsdl:message name="TestFailureSoapIn">
    <wsdl:part name="parameters" element="tns:TestFailure" />
  </wsdl:message>
  <wsdl:message name="TestFailureSoapOut">
    <wsdl:part name="parameters" element="tns:TestFailureResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="BaseDirectory">
      <wsdl:input message="tns:BaseDirectorySoapIn" />
      <wsdl:output message="tns:BaseDirectorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="debug">
      <wsdl:input message="tns:debugSoapIn" />
      <wsdl:output message="tns:debugSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EntryHandle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">入口方法</wsdl:documentation>
      <wsdl:input message="tns:EntryHandleSoapIn" />
      <wsdl:output message="tns:EntryHandleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynchBillFromK3ToX9">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">X9系统方法名</wsdl:documentation>
      <wsdl:input message="tns:SynchBillFromK3ToX9SoapIn" />
      <wsdl:output message="tns:SynchBillFromK3ToX9SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestSuccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试成功方法</wsdl:documentation>
      <wsdl:input message="tns:TestSuccessSoapIn" />
      <wsdl:output message="tns:TestSuccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestFailure">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试失败方法</wsdl:documentation>
      <wsdl:input message="tns:TestFailureSoapIn" />
      <wsdl:output message="tns:TestFailureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BaseDirectory">
      <soap:operation soapAction="http://tempuri.org/BaseDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debug">
      <soap:operation soapAction="http://tempuri.org/debug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EntryHandle">
      <soap:operation soapAction="http://tempuri.org/EntryHandle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchBillFromK3ToX9">
      <soap:operation soapAction="http://tempuri.org/SynchBillFromK3ToX9" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSuccess">
      <soap:operation soapAction="http://tempuri.org/TestSuccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestFailure">
      <soap:operation soapAction="http://tempuri.org/TestFailure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BaseDirectory">
      <soap12:operation soapAction="http://tempuri.org/BaseDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debug">
      <soap12:operation soapAction="http://tempuri.org/debug" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EntryHandle">
      <soap12:operation soapAction="http://tempuri.org/EntryHandle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchBillFromK3ToX9">
      <soap12:operation soapAction="http://tempuri.org/SynchBillFromK3ToX9" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSuccess">
      <soap12:operation soapAction="http://tempuri.org/TestSuccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestFailure">
      <soap12:operation soapAction="http://tempuri.org/TestFailure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost/WebService/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost/WebService/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>